.home-container {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container .climate-news, 
.home-container .path-list {
    margin-bottom: 20px;
    width: 100%; 
}


@media (max-width: 768px) {
    .home-container {
        padding: 10px;
        margin: 10px;
    }
}
