.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 6rem;
    width: calc(100% - 6rem); 
}

.resource-list-container {
    width: 100%;
}

.no-resource {
    text-align: center;
}

@media (max-width: 768px) {
    .parent {
        margin-left: 1rem;
        margin-right: 1rem; 
        width: calc(100% - 2rem); 
    }
}
